<!DOCTYPE html>
<header></header>
<body>
  <div class="flex flex-col bg-gradient-to-br from-blue-300 to-blue-800 transition-opacity duration-200 visible opacity-100">
    <div class="mx-auto w-96 text-center min-h-[20vh]">
      <span>Gatcha Simulator</span>
    </div>
    <main class="mx-auto w-full max-w-3xl flex-1 px-4 pb-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid grid-cols-1 items-start gap-4 lg:grid-cols-3">
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <gacha-box (onRoll)="updateHistory($event)"></gacha-box>
        </div>
        <div class="grid grid-cols-1 gap-4">
          <gacha-history [recentCard]="recentCard"></gacha-history>
        </div>
      </div>
    </main>
  </div>
</body>
