.logo {
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    height: 20vh;
}

.logo span {
    position: relative;
    top: 40%;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
}