<div class="over-flow-hidden rounded-xl bg-white shadow-xs">
    <div class="space-y-4 p-6">
        <div class="text-center">
            <h1 class="font-bold text-3xl">Card History</h1>
        </div>
        <div>
            <table class="w-full table-fixed border text-center">
                <thead>
                    <tr>
                        <th class="border bg-teal-100">C</th>
                        <th class="border bg-slate-400">U</th>
                        <th class="border bg-amber-300">R</th>
                        <th class="border bg-rose-700">M</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border">{{cardCount[3]}}</td>
                        <td class="border">{{cardCount[2]}}</td>
                        <td class="border">{{cardCount[1]}}</td>
                        <td class="border">{{cardCount[0]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="min-height:624px; overflow: auto">
            <mat-table [dataSource]="dataSource" class="text-center">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
                    <mat-cell *matCellDef="let i = index"> {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Card Name </mat-header-cell>
                    <mat-cell *matCellDef="let card"> {{card.name}} </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                  <mat-row *matRowDef="let card; columns: columnsToDisplay;"></mat-row>
            </mat-table>
            <mat-paginator  #paginator 
                            [pageSize]="10">
            </mat-paginator>
        </div>
        <div class="mb-6 flex items-center justify-center">
            <button (click)="deleteHistory()"
                    type="button"
                    class="inline-flex items-center justify-center rounded-md ring ring-rose-700 focus:ring-offset-2 delete-button-bg hover:opacity-75 font-semibold">
                DELETE HISTORY
            </button>
        </div>
    </div>
</div>