.gacha-history-background {
    background-color: floralwhite;
    border-radius: 25px;
    width: 350px;
    height: 800px; 
    box-shadow: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    padding: 10% 10%;
}

h1 {
    font-size: 25px;
}