.again-button-bg {
    border-radius: 10px;
    height: 60px;
    width: 300px;
    background-color: cornflowerblue;
    color:whitesmoke;
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(-40px);
    }
}